:root {
  --amarelo: #FFD100;
  --preto: #2e2e2e;
  --branco: rgb(224, 224, 224);

}

html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--branco);
    }

   


.fex-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


p {
  margin: 8px;
}

body {
  margin: 0px;
  padding: 0px;
}

.lista-generos {
  display: block;
}

ul {
  display: flex;
  flex-direction: column;
  /* um embaixo do outro */
  padding-left: 0px;
}


.text-center {
  text-align: center;
}

.text-white {
  color: var(--branco);
}

.yellow {
  background-color: var(--amarelo);

}

.text-yellow {
  color: var(--amarelo);
}

.bg-dark {
  background-color: var(--preto);
}

.bg-white {
  background-color: var(--branco);
}

.border-white {
  border: none;
  border-bottom: var(--branco) 2px solid;

}

.border-name {
  border: none;
}

.rounded {
  border-radius: 8px;
}

.material-icons {
  font-size: 25px;
  color: var(--branco);
}

.padding {
  padding: 16px;
}

.border {
  border: none
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-svg {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: -20%;
  margin-top: 2%;
}



p {
  margin: 8px;
}

body {
  margin: 0px;
  padding: 0px;
}

.lista-generos {
  display: block;
}

ul {
  display: flex;
  flex-direction: column;
  /* um embaixo do outro */
  padding-left: 0px;
}

.sidebar {
  width: 250px;
  background-color: var(--preto);
  color: var(--branco);
  padding: 20px;
  min-height: 100vh;

}

.cadastro-sidebar {
  width: 25%;
  background-color: var(--preto);
  color: var(--branco);
  padding: 4%;
  min-height: 100vh;

}


.posicao-sidebar {
  position: fixed;
  right: 0;
  top: 0;
}


.pe-name {
  padding-left: 0px;
}

.pb-4 {
  padding-top: 5%;
  padding-bottom: 15%;
}

.align-end {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.justify-content {
   display: flex; 
   align-items: center;
 
}

.justify-content-end {
display: flex;
  align-items: center;
  justify-content: end;
}

.me-4 {
  margin-right: 4%;
}