p {
  margin: 8px;
}

body {
  margin: 0px;
  padding: 0px;
}

.lista-generos {
  display: block;
}

ul {
  display: flex;
  flex-direction: column; /* um embaixo do outro */
  padding-left: 0px;
}

.sidebar {
  width: 250px;
  background-color: #1a222e;
  color: white;
  padding: 20px;
  min-height: 100vh;
}
